---
---
@import "{{ site.theme }}";

h1 {
    font-size: 2.5em !important;
}

h2 {
    font-size: 2em !important;
}

h3 {
    font-size: 1.67em !important;
}

h4 {
    font-size: 1.5em !important;
}

h5 {
    font-size: 1.25em !important;
}

h6 {
    font-size: 1.15em !important;
}

.project-name {
    font-size: 3.25rem !important;
}

#back-to-top {
    background-color: #159957 !important;
    background-image: linear-gradient(120deg, #155799, #159957) !important;
} 